/* .root{
  margin: 0px;
  padding: 0px;
} */
.login-card {
  justify-items: center;
  width: 100%;
  max-width: 450px;
  background-color: black;
  padding: 60px 55px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.close {
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}
.login-heading {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 35px;
  font-family: gilroy;
  color: white;

}

.css-96e9fn {
  background-color: white !important;
}

.otp-heading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 35px;
  font-family: gilroy;

}

.loader {

  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid black;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-position {
  padding-bottom: 10px;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.left-side-menu {
  transition: width 0.3s ease-in-out;
}

.left-sidebar--collapsed {
  width: 80px; 
  /* background-color: rgb(54, 54, 54); */
}

.left-sidebar--opened {
  width: 200px; 
}

/* .input-data{
  width: 500px;
} */
.signup-card {
  justify-items: center;
  width: 100%;
  max-width: 50%;
  background-color: black;
  padding: 60px 55px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.nav-main{
  background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0%;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #7b7b5c;
}
.css-96e9fn{
  position: sticky;
  top: 0;
  z-index: 0000;
}
td.Gymnast__TableCell-sc-640eb6ae-29.gHfBoA {
  width:0%;
}
/* .coaches__PopupContainer-sc-9eb3cb8b-2.fXghNH {
  background-color: rgb(63, 63, 63);
  padding: 10px;
  width: 40%;
  margin: 0px auto;
  border-radius: 10px;
  margin-top: -16%;
  position: fixed;
  z-index: 9999;
  left: 35%;
} */

.animate {
  width: 100%;
  padding: 15px 16px;
  border: none;
  outline: none;
  color: black;
  background:#E3DC22;
  cursor: pointer;
  position: relative;
  z-index: 0;
  min-width: 54px;
  border-radius: 4px;
}

.animate:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.animate:active {
  color: #5e2222
}

.animate:active:after {
  background: transparent;
}

.animate:hover:before {
  opacity: 1;
}

.animate:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
